openpyxl~=3.1.5
jupyterlab-pygments~=0.3.0
pip~=21.2.4
attrs~=24.2.0
argparse~=1.4.0
wheel~=0.37.0
PySocks~=1.7.1
protobuf~=5.29.3
cryptography~=44.0.0
pillow~=11.1.0
docutils~=0.21.2
filelock~=3.17.0
et-xmlfile~=2.0.0
defusedxml~=0.7.1
numpy~=2.0.2
pygments~=2.18.0
pandas~=2.2.3